<html>
  <head>
    <title>Evento: <%= cname %></title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <center>
        <h1 class="titleText">Evento</h1>
        <div class="menuDiv">
          <a href="/" class="menuItem">Home</a>
          <a href="/events" class="menuItem">Events</a>
          <a href="/about-us" class="menuItem">About Us</a>
          <a href="/contact-us" class="menuItem">Contact Us</a>
          <hr size="1" width="60%" style="margin-top: 10px;" />
        </div>
      </center>
    </header>
    <center>
      <div class="upEventsTitleDiv">
        <h3 class="opensans" style="font-weight: 700;"><%= cname %> events</h3>
      </div>
    </center>
    <div class="upcomingEvents row">
      <% categoryEvents.map(event => { %>
      <div class="card eventItem">
        <img src= <%= event.img%> alt="" class="card-img-top eventImage" />
        <div
          class="card-body m-0 p-2"
          style="word-wrap: break-word; width: 240px"
        >
          <strong><%= event.name %></strong> <br />
          <small><%= event.description %></small> <br />
          <i><small><%= event.date %></small></i>
        </div>
        <div class="card-footer p-1">
          <center>
            <strong>Price: </strong>
            <% if(event.price==0){ %> Free <% } else { %> ₹<%= event.price %> <%
            } %>
          </center>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
