<html>
  <head>
    <title>Evento</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <center>
        <h1 class="titleText">Evento</h1>
        <div class="menuDiv">
          <a href="" class="menuItem">Home</a>
          <a href="/events" class="menuItem">Events</a>
          <a href="/about-us" class="menuItem">About Us</a>
          <a href="/contact-us" class="menuItem">Contact Us</a>
          <hr size="1" width="60%" style="margin-top: 10px;" />
        </div>
      </center>
    </header>
    <div class="trendingDiv">
      <strong class="mr-3">Trending:</strong>
      <marquee direction="left">
        <small
          >Coldplay Live Concert @ JioPark Mumbai | JSMeetup at IGP, Lucknow |
          Zakir Khan StandUp Comedy Live at Canvas Laugh Club, Delhi</small
        >
      </marquee>
    </div>
    <div class="showcaseImagesDiv">
      <div class="showcaseImagesDiv1">
        <img class="zoomInImage" src= <%= showcaseResult[showcaseResultLength -
        1].img1 %> alt="" style="height: 500px; width: 100%" />
      </div>
      <div class="showcaseImagesDiv2">
        <div class="showcaseImagesDiv21">
          <img class="zoomInImage" src= <%= showcaseResult[showcaseResultLength
          - 1].img2 %> alt="" style="height: 100%; width: 100%" />
        </div>
        <div class="showcaseImagesDiv22">
          <img class="zoomInImage" src= <%= showcaseResult[showcaseResultLength
          - 1].img3 %> alt="" style="height: 100%; width: 100%;" />
        </div>
      </div>
    </div>
    <div class="upcomingEventsDiv ml-2 mr-2">
      <center>
        <div class="upEventsTitleDiv">
          <h3 class="opensans bold">Upcoming Events</h3>
        </div>
      </center>
      <div class="upcomingEvents row">
        <!-- Events -->
        <% if(result.length>0) { %> <% result.map(event => { %>
        <div class="card eventItem">
          <img src=<%= event.img%> alt="" class="card-img-top eventImage" />
          <div
            class="card-body m-0 p-2"
            style="word-wrap: break-word; width: 240px"
          >
            <strong><%= event.name %></strong> <br />
            <small><%= event.description %></small> <br />
            <i><small><%= event.date %></small></i>
          </div>
          <div class="card-footer p-1">
            <center>
              <strong>Price: </strong>
              <% if(event.price==0){ %> Free <% } else { %> ₹<%= event.price %>
              <% } %>
            </center>
          </div>
        </div>
        <% }) %> <% } %>
      </div>
    </div>
    <div class="categoryEventsDiv mt-4">
      <center>
        <div class="upEventsTitleDiv">
          <h3 class="opensans bold">Events by Category</h3>
        </div>
      </center>
      <div class="eventsOptionsDiv">
        <div class="gotoEventDiv" style="background-color: #ff6b6b;" onclick="gotoConcert()" >
          <h4 class="opensans" style="font-weight: 700;" >Concert</h4 class="opensans" style="font-weight: 700;" >
        </div>
        <div class="gotoEventDiv" style="background-color: #ff9ff3;" onclick="gotoConference()" >
          <h4 class="opensans" style="font-weight: 700;" >Conference</h3>
        </div>
        <div class="gotoEventDiv" style="background-color: #1dd1a1;" onclick="gotoComedy()" >
          <h4 class="opensans" style="font-weight: 700;" >Comedy</h3>
        </div>
        <div class="gotoEventDiv" style="background-color: #54a0ff;" onclick="gotoMeetup()">
          <h4 class="opensans" style="font-weight: 700;" >Meetup</h3>
        </div>
      </div>
    </div>
  </body>
  <script>
    function gotoConcert() {
      window.location = 'events/category/concert'
    }
    function gotoConference() {
      window.location = 'events/category/conference'
    }
    function gotoComedy() {
      window.location = 'events/category/comedy'
    }
    function gotoMeetup() {
      window.location = 'events/category/meetup'
    }
  </script>
</html>
